body{
    margin: 0;
    padding: 0;
}

.app-container{
    display: flex;
    height: 100vh;
    width: 100wh;
}

.sidebar{
    background-color: antiquewhite;
    width: 30rem;
    padding: 2rem;

}
.content{
    background-color: aqua;
    flex: 1;
    padding: 2rem;
}
.title{
    font-size: 2rem;
    
}